.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: var(--gray-500);
  border-radius: 0.5rem;
  border: solid var(--gray-400) 1.5px;
  margin-bottom: 0.75rem;
}

.container p {
  width: 100%;
  padding: 0 0.75rem;
  font-size: 0.875rem;
}

.container button {
  height: fit-content;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.checkButton {
  color: var(--blue);
}

.trashButton {
  color: var(--gray-300);
}